@font-face {
  font-family: myDrakon;
  src: url(drakon.ttf);
}

h2 {
  font-family: myDrakon;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #2461AA;
}

h4 {
  font-family: myDrakon;
  font-size: 2.5em;
}

.dota__loading {
  height: 600px;
  width: 800px;
  position: relative;
}

.dotaLoading__logoText {
  position: relative;
}

.logoText__upper {
  position: absolute;
  top: 0;
  left: 34px;
  font-size: 8em;
}
.logoText__lower {
  position: absolute;
  top: 99px;
  left: 0;
  font-size: 12em;
}
.logoText__second {
  position: absolute;
    top: 60px;
    left: 457px;
}
.logoText__third {
  position: absolute;
    top: 100px;
    left: 458px;
}

.dotaLoading__test {
  
  height: 35px;
  width: 109px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 200px;
  left: 913px;
}

.dotaLoading__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dotaLoading__bar {
  position: relative;
  z-index: 2;
  
}

.dotaLoadingBar__img {
  position: absolute;
  left: -83px;
  top: 220px;
  width: 957px;
  z-index: 2;
}

.dotaLoadingBar__container {
  position:relative;
  width: 464px;
}

.dotaLoadingBar__progress {
  position: absolute;
    height: 27px;
    top: 493px;
    left: 162px;
    width:100%;
    background-image: -webkit-linear-gradient(90deg,#080E33, #13526A, #080E33);
}

.dotaLoadingBar__text {
  z-index: 5;
  color: #F1CB13;
  position: absolute;
  top: 493px;
  left: 375px;
}

.timelapse {
	animation-name: timelapse;
	animation-fill-mode: forwards;
	animation-duration: 20s;
	animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
	0% {
		width: 0%;
	}
	100% {
		width: 95%;
	}
}